<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>NSS GROUP</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<!--<aside>-->
    <!--<h2>Recent Posts</h2>-->
    <!--<a href="#" th:each="p : ${latest5posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>-->
<!--</aside>-->

<h2>Local subscribers NSN</h2>
<main id="msc_nsn">
    <table class="pure-table">
        <thead>
        <tr>

            <!--<th>id</th>-->
            <th>Date</th>
            <th>Name MSC</th>
            <th>Own sub</th>
            <th>Roaming sub</th>
            <th>Total</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${latestControlMscNsn}">
            <!--<td th:text="${p.id}"></td>-->
            <td th:text="${#dates.format(p.date_statistic, 'dd-MMM-yyyy')}"></td>
            <td th:text="${p.name_msc}"></td>
            <td th:text="${p.own}"></td>
            <td th:text="${p.roaming}"></td>
            <td th:text="${p.total}"></td>
        </tr>
        </tbody>
    </table>
</main>

<h2>Local subscribers Huawei</h2>
<main id="msc_huawei">
    <table class="pure-table">
        <thead>
        <tr>

            <!--<th>id</th>-->
            <th>Date</th>
            <th>Name MSC</th>
            <th>Own sub</th>
            <th>Roaming sub</th>
            <th>Total</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${latestControlMscHuawei}">
            <!--<td th:text="${p.id}"></td>-->
            <td th:text="${#dates.format(p.date_statistic, 'dd-MMM-yyyy')}"></td>
            <td th:text="${p.name_msc}"></td>
            <td th:text="${p.own}"></td>
            <td th:text="${p.roaming}"></td>
            <td th:text="${p.total}"></td>
        </tr>
        </tbody>
    </table>
</main>


<h2>Local subscribers Siemens</h2>
<main id="posts">
    <table class="pure-table">
        <thead>
        <tr>

            <!--<th>id</th>-->
            <th>Date</th>
            <th>Name MSC</th>
            <th>Own sub</th>
            <th>Roaming sub</th>
            <th>Total</th>

        </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${latestControlPosts}">
                <!--<td th:text="${p.id}"></td>-->
                <td th:text="${#dates.format(p.date_statistic, 'dd-MMM-yyyy')}"></td>
                <td th:text="${p.name_msc}"></td>
                <td th:text="${p.own}"></td>
                <td th:text="${p.roaming}"></td>
                <td th:text="${p.total}"></td>
            </tr>
        </tbody>
    </table>
</main>

<h2>Top 5 operators in ATO</h2>
<main id="top_5_operators_in_ato">
    <table>
        <thead>
        <tr>

            <!--<th>id</th>-->
            <th>Date</th>
            <th>Operators</th>
            <th>Subscribers</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${latestControlTop5OperatorsInAto}">
            <!--<td th:text="${p.id}"></td>-->
            <td th:text="${#dates.format(p.date_5_operators, 'dd-MMM-yyyy')}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.total_subscribers}"></td>

        </tr>
        </tbody>
    </table>


</main>

<h2>Our subscribers in roaming - Top 10 countries</h2>
<main id="roaming_countries">
    <table>
        <thead>
        <tr>

            <!--<th>id</th>-->
            <th>Date</th>
            <th>Country</th>
            <th>Subscribers</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${latestControlRoamingCountries}">
            <!--<td th:text="${p.id}"></td>-->
            <td th:text="${#dates.format(p.date_countries, 'dd-MMM-yyyy')}"></td>
            <td th:text="${p.country}"></td>
            <td th:text="${p.total_top_10_countries}"></td>

        </tr>
        </tbody>
    </table>


</main>


<h2>Our subscribers in roaming - Top operators in countries</h2>
<main id="roaming_operators">
    <table>
        <thead>
        <tr>

            <!--<th>id</th>-->
            <th>Date</th>
            <th>Operators</th>
            <th>Subscribers</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${latestControlRoamingOperators}">
            <!--<td th:text="${p.id}"></td>-->
            <td th:text="${#dates.format(p.date_operators, 'dd-MMM-yyyy')}"></td>
            <td th:text="${p.countries_operators}"></td>
            <td th:text="${p.top_operators_in_countries}"></td>

        </tr>
        </tbody>
    </table>


</main>





<h2>Total our subscribers in roaming</h2>
<main id="roaming_all_subscribers">
    <table>
        <thead>
        <tr>

            <!--<th>id</th>-->
            <th>Date</th>
            <th>Our subscribers in roaming</th>


        </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${latestControlRoamingAllSubscribers}">
        <!--<td th:text="${p.id}"></td>-->
        <td th:text="${#dates.format(p.date_all, 'dd-MMM-yyyy')}"></td>
        <td th:text="${p.our_subsribers_in_roaming}"></td>
    </tr>
    </tbody>
    </table>


</main>

<footer th:replace="layout :: site-footer" />
</body>

</html>